body {
  background: #5031a9;
  color: #fff;
}

header {
  background: #4c2da2;
  color: #fff;
}

.navbar {
  background: #4c2da2;
}

.navbar .navbar-nav li a{
  color: #fff;
  padding: 25px 0;
  font-family: 'Open Sans', 'Black Han Sans', sans-serif;
  font-weight: 600;
}

.navbar .navbar-nav li a:hover {
  color: #f7683e;
  transition: all .5s ease-in-out;
}

.navbar .navbar-nav li a.active {
  color: #f7683e;
}

.navbar-brand {
  color: #fff;
  font-family: 'Open Sans', 'Black Han Sans', sans-serif;
  font-weight: 600;
}

.navbar-brand:hover {
  color: #f7683e;
  transition: all .5s ease-in-out;
}

.fa-bars {
  font-size: 1.7rem;
  color: #fff;
}

.HomePage h1 {
  font-family: 'Open Sans', 'Black Han Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 150px 0 150px;
  text-align: center;
}

.img1 {
  background: url("https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 500px;
}

.img2 {
  background: url("https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
}

.img3 {
  background: url("https://images.unsplash.com/photo-1537861295351-76bb831ece99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  height: 250px;
}

.img4 {
  background: url("https://s3.amazonaws.com/blog.invisionapp.com/uploads/2018/01/design-engineers-thumb.png?ver=1") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 250px;
}

.col-md-6 {
  padding: 0;
}

.AboutPage {
  background: #eee;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.AboutPage h1 {
  font-family: 'Open Sans','Black Han Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 100px;
  margin: 0 0 120px;
  text-align: center;
  color: #5031a9;
}

.AboutPage section.col-md-12{
  margin-left: -15px;
}

.AboutPage section.col-sm-12{
  text-align: center;
}

.AboutPage h2 {
  font-family: 'Open Sans','Black Han Sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 0px;
  margin: 0 0 20px;
  color: #5031a9;
}

.row {
  margin-left: 0;
  margin-right: 0;
}


.myImg {
  background: url("https://cdn-images-1.medium.com/max/825/1*CDlclChuNeeM5Shfev2RTg.jpeg")no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  margin: 0 0 50px;
}

.AboutMe p {
  color: #000;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 2rem;
  letter-spacing: 1px;
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

.AboutMe ul {
  color: #000;
  font-family: 'Open Sans', 'Raleway', sans-serif;
}

/* .AboutMe .left-skillset {
} */

.AboutMe li{
  padding: 5px 0;
  margin-left: -12px;
  
}

.ProjectsPage {
  background: #fff;
  color: #000;
}

.ProjectsPage h1 {
  font-family: 'Open Sans','Black Han Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 100px;
  margin: 0 0 120px;
  text-align: center;
  color: #5031a9;
}

.img-thumbnail {
  margin-bottom: 50px;
  background: #eee;
}

.project-img {
  /*padding: 15px 25px; */
  width: 100%;
  
  margin: 20px 0;
}

.img-overlay {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 221px;
  width: 94%;
  opacity: 0;
  transition: .5s ease;
  background-color: #5031a9;
}

.alt-overlay {
  background-color: #f7683e;
}

.project-container:hover .img-overlay {
  opacity: .9;
}

.project-section h3 {
  font-size: 1.3rem;
  font-family: 'Open Sans','Raleway', sans-serif;
  font-weight: 600;
  padding-top: 20px;
}

.project-section p {
  margin: 10px 0;
  font-family: 'Open Sans','Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.img-overlay p {
  color: #FFF;
  margin: 20px auto;
  padding: 0 10px;
}

.btn-project {
  background: #5031a9;
  font-family: 'Raleway', sans-serif;
  margin: 0 20px 15px 0;
  color: #fff;
}

.btn-project:hover {
  color: #f7683e;
}


.btn-github {
  background: #f7683e;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
  color: #fff;
  padding: 6px 15px;
}

.btn-github:hover {
  color: #5031a9;
}


.ContactPage h1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 100px;
  margin: 0 0 80px;
  text-align: center;
  color: #fff;
}
.ContactPage a {
  color: #fff;
}

.ContactPage p {
  text-align: center;
  margin: 50px auto 0;
}

.ContactPage a:hover {
  color: #f7683e;
  transition: all .5s ease-in-out;
}

.ContactPage .social-media {
  color: #fff;
}

 .ContactPage i {
   margin: 0 10px;
   float: right;
 }


 @media only screen and (max-width: 1200px) {
  .img-overlay {
    top: 60px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 185px;
  }

  .img-overlay p {
    font-size: 1rem;
    margin: 5px 0;
  }

}

@media only screen and (max-width: 1000px) {
  .img-overlay p {
    font-size: .8rem;
    margin: 5px 0;
    line-height: .9rem;
  }
  
}

@media only screen and (max-width: 900px) {
  .img-overlay {
    top: 60px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 135px;
  }
  
}

@media only screen and (max-width: 770px) {
  .img-overlay {
    top: 60px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 245px;
  }

  .img-overlay p {
    margin: 20px auto;
    padding: 0 10px;
    line-height: 1.3rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 475px) {
  .img-overlay {
    top: 60px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 208px;
  }

  .img-overlay p {
    font-size: 1rem;
    margin: 10px 0;
  }
}